{% extends './base.html' %}
{% block content %}

<div class="content-wrapper">
<!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>コマンド登録</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> ホーム</a></li>
            <li class="active">コマンド登録</li>
        </ol>
    </section>
    <div class="container">
        <div id="commandLine">
        <div class="row" style="display: flex;">
            <tr><td><select id="SelectCommand[1]" class="form-control col-6" style="margin-top:30px;">
                <option value=99>コマンドを選択</option>
                <option value=1>離陸</option>
                <option value=2>着陸</option>
                <option value=3>前進</option>
                <option value=4>後退</option>
                <option value=5>右へ</option>
                <option value=6>左へ</option>
                <option value=0>待機</option>
            </select></td>
            <td><input type="text" id="InputOption[1]" class="form-control col-5" style="margin-top:30px;">
            <p id="cm" style="display :none; margin: 40px 0px 0px 0px;" >(cm)</p>
            <p id="sec" style="display : none; margin: 40px 0px 0px 0px;" >(秒)</p></td></tr>
        </div>        
        </div>
        <button id="downloadBtn" type="button" class="btn btn-success" style="margin-top:10px; margin-left:10px; float: right">ダウンロード</button>
        <a style="display:none;" id="downloader" href="#"></a>  
        <button id="addButton" type="button" class="btn btn-primary" style="margin-top: 10px; float: right">＋</button>
    </div>
</div>


{% endblock content %}